.container {
    height: 344px;
    width: 300px;
}

.title {
    font-style: normal;
    font-weight: 500;
}

.accountsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
