name: Build/Release

on:
  pull_request:
    paths-ignore:
      - "nuxt/**"
  push:
    branches: master
    paths-ignore:
      - "nuxt/**"

jobs:
  release:

    runs-on: ${{ matrix.os }}

    # Platforms to build on/for
    strategy:
      matrix:
        os: [windows-2019, ubuntu-18.04, macos-10.15]

    steps:
    - uses: actions/checkout@v1
    - name: Set version in Env
      shell: bash
      run: |
        echo ::set-env name=package_version::`awk -F ':' '/version/ {print $2}' package.json | sed 's/\"//g' | sed 's/,//g' | sed 's/ //g'`
        echo "Version is `awk -F ':' '/version/ {print $2}' package.json | sed 's/\"//g' | sed 's/,//g' | sed 's/ //g'`"
    - uses: actions/github-script@0.3.0
      name: Check if current version is a published release (by release tag)
      id: check_release
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        # debug: true
        script: |
          const releases = await github.repos.listReleases({
            owner: 'baruchiro',
            repo: 'israeli-bank-scrapers-desktop'
          })
          // console.log(releases)
          const published_release_tags = releases.data.filter(release => !release.draft).map(release => release.tag_name)
          // console.log(published_release_tags)
          // github.event_name: ${{ github.event_name }}
          // github.ref: ${{ github.ref }}
          const isPushToMaster = ${{ startsWith(github.event_name, 'push') && github.ref == 'refs/heads/master' }}
          console.log('Is push to mster: ' + isPushToMaster)
          const publishToRelease = !published_release_tags.includes('v${{ env.package_version }}') && isPushToMaster
          console.log('publishToRelease: ' + publishToRelease)
          return publishToRelease
    - name: Install Node.js, NPM and Yarn
      uses: actions/setup-node@v1
      with:
        node-version: 10
    - name: Install Snapcraft
      uses: samuelmeuli/action-snapcraft@7510647f38ad93cd87e6d8f043bbcce816d7f3bf
      # Only install Snapcraft  on Ubuntu
      if: startsWith(matrix.os, 'ubuntu')
      with:
        # Log in to  Snap Store
        snapcraft_token: ${{ secrets.snapcraft_token }}
    - name: Set 'publish' parameter
      shell: python
      run: |
        param = 'always' if '${{ steps.check_release.outputs.result }}' == 'true' else 'never'
        print("Will {} (for this run) publish files to draft release".format(param))
        print("::set-env name=PUBLISH_PARAM::{}".format(param))
    - name: Build & release Electron app
      shell: bash
      env:
        GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        yarn
        yarn build --publish $PUBLISH_PARAM
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        # Artifact name
        name: ${{ matrix.os }}-artifact
        # Directory containing files to upload
        path: dist_electron
