name: Tests
on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: 'bash'

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          # - windows-latest
          - ubuntu-22.04 # TODO: Use latest when https://github.com/electron/electron/issues/42510 is fixed
          # - macos-latest

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: 'yarn'
          node-version-file: '.node-version'
      - run: yarn
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
      - run: yarn test:main
      - run: yarn test:preload
      - run: yarn test:renderer

      # I ran into problems trying to run an electron window in ubuntu due to a missing graphics server.
      # That's why this special command for Ubuntu is here
      - run: xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- yarn test:e2e
        if: startsWith(matrix.os, 'ubuntu')

      - run: yarn test:e2e
        if: ${{ !startsWith(matrix.os, 'ubuntu') }}
